<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:required="true" android:targetSdkVersion="33" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.HouseHuntingKt"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Nerul" />
        <activity android:name=".Nerul1" />
        <activity android:name=".Vashi" />
        <activity android:name=".Vashi1" />
        <activity android:name=".PanvelPg1" />
        <activity android:name=".PropertyAdapter" />
        <activity android:name=".BuyerDashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".RoleSelectiionActivity" />
        <activity android:name=".SellerProfileActivity" />
        <activity android:name=".ListingsActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuJ96F4g_49fpkhVfAHC2voy-RMYi6i90" />

        <service
            android:name="android.speech.RecognitionService"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

    </application>

</manifest>